.gamePage {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.gamePage__title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-size: 27px;
}
.gamePage__body {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
}
.gamePage__body__content {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.gamePage__body__content__game {
  width: 100%;
  flex: 1;
}
.gamePage__body__content__func {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
}
.gamePage__body__info {
  width: 300px;
  height: 100%;
  padding: 12px;
}
